body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
#root {
  height: 100vh;
}

html {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-style {
  font-size: 40px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 40px !important;
  font-family: "Sacramento", Arial, serif !important;
}

.simply-section {
  display: inline-block;
  background: rgba(241, 78, 149, 0.8);
  margin: 0 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s ease infinite;
}

.wh-100 {
  width: 100px;
  height: 100px;
}


.wh-75 {
  width: 75px;
  height: 75px;
}

.wh-50 {
  width: 50px;
  height: 50px;
}


.display-block {
  display: block;
}


.center-screen {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0px !important;
  height: calc(100vh - 64px);
  flex-wrap: wrap !important;
}

.ds-vertical {
  display: flex;
  align-items: column;
}

.header-nav {
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.name {
  margin-bottom: 0px !important;
    line-height: 1.5 !important;
    color: #F14E95 !important;
    font-family: "Sacramento", Arial, serif !important;
}

.timeline-img {
  height: 160px;
  width: 160px;
}

.border-50 {
  border-radius: 50%;
}

.mt-10 {
  margin-top: 10px !important;
}

h2 {
  font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.text-align-center {
  text-align: center;
}


.align-item-center {
  align-items: center;
}

.align-item-right {
  align-items: right;
}

.tab-padding{
  padding-right: 10px;
    padding-left: 10px;
}

.padding-tb-10 {
  padding-top: 25px;
  padding-bottom: 10px;
}

.height-60 {
  height: 70%;
}

.height-40 {
  height: 30%;
}

.tab:hover {
  color: white !important;
}

.width-100 {
  width: 100%;
}

.border-right {
  border-right: 1px solid white;
}

.color-white { 
  color: white;
}

.bg-color-black {
  background-color: #26281C !important;
}

.color-grey {
  color: #989494 !important;
}

.iconcolor {
  color: white;
  padding: 3px;
}

.min-h-64 {
  min-height: 64px;
}

.App-link {
  color: #61dafb;
}

.hrwidth {
  width: 50%;
}


.fs-30 {
  font-size: 30px;
}


.fs-20 {
  font-size: 20px;
}

.fs-10 {
  font-size: 10px;
}

.simple-words {
  text-transform: uppercase;
  font-size: 12px;
}

.heading-pink {
  font-size: 60px !important;
    margin-bottom: 10px !important;
    line-height: 1.5 !important;
    font-weight: bold !important;
    color: #F14E95 !important;
    font-family: "Sacramento", Arial, serif !important;
}

.span-heading-pink {
  font-size: 30px !important;
    margin-bottom: 10px !important;
    line-height: 1.5 !important;
    font-weight: bold !important;
    color: #F14E95 !important;
    font-family: "Sacramento", Arial, serif !important;
}

.heading-span {
  text-transform: uppercase !important;
  font-size: 13px !important;
  letter-spacing: 2px !important;
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.4) !important;
}

